---
permalink: styles.css
---

{# 0. RESET #}
{% include "styles/0_reset/reset.css" %}

{# 1. LAYOUT #}
{% include "styles/1_layouts/box.css" %}
{% include "styles/1_layouts/center.css" %}
{% include "styles/1_layouts/cluster.css" %}
{% include "styles/1_layouts/cover.css" %}
{% include "styles/1_layouts/flow.css" %}
{% include "styles/1_layouts/grid.css" %}
{% include "styles/1_layouts/repel.css" %}
{% include "styles/1_layouts/sidebar.css" %}
{% include "styles/1_layouts/switcher.css" %}

{# 2. CORE #}
{% include "styles/2_core/1_fonts.css" %}
{% include "styles/2_core/2_custom_prop.css" %}
{% include "styles/2_core/global.css" %}

{# 3. BLOCKS #}
{% include "styles/3_blocks/lede.css" %}
{% include "styles/3_blocks/logo_img.css" %}
{% include "styles/3_blocks/texicon.css" %}
{% include "styles/3_blocks/texicon_v.css" %}

{# 4. UTILITIES #}
{% include "styles/4_utilities/misc.css" %}