---
layout: html.njk
main_url: lipops.jirm.eu
---

<div class="l_center" style="--l_center__size : 60rem;">

  <header class="l_box">
    <div class="l_repel l_box">
      <a href="https://arn-fai.net"><img src="/logo/logo-ARN.svg" style="inline-size: 22rem;"></a>
      <a href="https://lafab.org/"><img src="/logo/lafab.svg" style="inline-size: 10rem;"></a>
      <!-- <a href="https://acrociation.fr/">Acrociation</a> -->
      <!-- <a href="https://hackstub.eu">Hackstub</a> -->
    </div>
    <hr>
  </header>


  <article class="l_flow l_box b_prose">
    {{ content | safe }}
  </article>


  <footer class="l_box l_flow">
    <hr>

    <div class="l_repel">
      <div class="l_flow">
        Liste d'évènements à jour disponible sur <a href="http://{{ main_url }}">{{ main_url }}</a>
      </div>
      {% qrcode "http://"+main_url, 100, "QR code", "qrcode" %}
    </div>
  </footer>

</div>