---
layout: html.njk
main_url: lipops.jirm.eu
---

<div class="l_center">

  <header class="l_box">
    <div class="l_cluster l_box" style="--l_cluster__wrap : nowrap; --l_cluster__jc:space-around">
      <a href="https://hackstub.eu"><img src="/logo/logo-hack_stub-b.svg" style="inline-size: 10rem;"</a>
      <a href="https://arn-fai.net"><img src="/logo/logo-ARN.svg" style="inline-size: 22rem;"></a>
      <a href="https://lafab.org/"><img src="/logo/lafab.svg" style="inline-size: 10rem;"></a>
    </div>
    <hr>
  </header>


  <article class="l_flow l_box">
    {{ content | safe }}
  </article>


  <footer class="l_box l_flow">
    <hr>

    <div class="l_repel" style="--l_repel__wrap : nowrap">
      <div class="l_flow">
        <p><strong>Document à jour disponible sur <a href="http://{{ main_url }}">{{ main_url }}</a></strong></p>
        <small>LiPOPS - Libre & Populaire à Strasbourg : organisation coordonnées d'ateliers d'éducation populaire sur la libération numérique.
          Organisé par
          l'association <a href="https://lafab.org">La Fabrique</a> et
          l'association <a href="https://arn-fai.net">Alsace Réseau Neutre</a>.
          Mise à jour le {{page.date | dateFull}}. 
          </small>
      </div>
      <div style="flex-shrink: 0;">{% qrcode "http://"+main_url, 100, "QR code", "qrcode" %}</div>
    </div>
  </footer>

</div>