/* Fonts */

@font-face {
    font-family: 'Luciole';
    src: url('/fonts/Luciole-Regular.eot');
    /* IE9 Compat Modes */
    src: url('/fonts/Luciole-Regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('/fonts/Luciole-Regular.woff2') format('woff'),
        /* Modern Browsers */
        url('/fonts/Luciole-Regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('/fonts/Luciole-Regular.svg#Luciole-Regular') format('svg');
    /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'BBB-Readme';
    src: url('/fonts/BBBReadMe-Regular.woff2') format('woff'),
         url('/fonts/BBBReadMe-Regular.ttf') format('truetype');
}

:root {
    --font-family-primary: 'Luciole';
    --font-family-secondary: 'BBB-Readme';
}