/* Custom Properties */

/* Sizes */

/* @link https://utopia.fyi/type/calculator?c=360,18,1.125,1240,20,1.2,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.8681rem, 0.8974rem + -0.0379vw, 0.8889rem);
  --step--1: clamp(1rem, 0.983rem + 0.0758vw, 1.0417rem);
  --step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --step-1: clamp(1.2656rem, 1.1697rem + 0.4261vw, 1.5rem);
  --step-2: clamp(1.4238rem, 1.2699rem + 0.6839vw, 1.8rem);
  --step-3: clamp(1.6018rem, 1.3735rem + 1.0149vw, 2.16rem);
  --step-4: clamp(1.802rem, 1.4789rem + 1.4363vw, 2.592rem);
  --step-5: clamp(2.0273rem, 1.5842rem + 1.9693vw, 3.1104rem);
}

@media print {
    :root {
        --step--2: 7pt;
        --step--1: 9pt;
        --step-0: 11pt;
        --step-1: 12pt;
        --step-2: 14pt;
        --step-3: 15pt;
        --step-4: 17pt;
        --step-5: 19pt;
    }
}

:root {
    --color-dark: #0c0c0c;
    --color-dark-soft: #424242;
    --color-light: #ffffff;

    --color-primary: #eb0000;
    --color-secondary: #9e2727;
}