/* The Flow layout (aka The Stack layout) - vertical spacing between block */
/* https://bell.bz/my-favourite-3-lines-of-css/ */
/* https://every-layout.dev/layouts/stack/ */

.l_flow>* {
    margin-block: 0;
}

/* TODO il>li>p ont trop de marge */

.l_flow>*+* {
    margin-block-start: var(--l_flow__space, 1em);
}
