/* The Switcher - one row that switch to one column */
/* https://every-layout.dev/layouts/switcher/ */

.l_switcher {
    display: flex;
    flex-wrap: wrap;
    gap: var(--l_switcher__gap, 1rem);
}

.l_switcher>* {
    flex-grow: 1;
    flex-basis: calc((var(--l_switcher__breakpoint, 30rem) - 100%) * 999);
}
